In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table,text

host = 'rdsmysql.ctc0se6gw6h4.us-east-1.rds.amazonaws.com'
schema = 'RdsMysqlDb'
user = 'admin'
password = 'saroselvi'
port = '3306'

#engine = create_engine('mysql+mysqlconnector://[user]:[password]@[host]:[port]/[schema]', echo=False)
engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{schema}")
# Create table query
create_table_query = """
CREATE TABLE TransformedData(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    height INT NOT NULL,
    weight INT NOT NULL,
    HeightsinMeters INT NOT NULL,
    WeightsinKgs INT NOT NULL
    
);    
"""




with engine.connect() as connection:
    result=connection.execute(text(create_table_query))
    print(result)



df = pd.read_csv('C:\\Users\\User\\Source1_output\\csvfile.csv')

# Insert data into the table
df.to_sql('TransformedData', con=engine, if_exists='append', index=False)


query = "SELECT * FROM TransformedData"
result_df = pd.read_sql(query, con=engine)


print(result_df)

<sqlalchemy.engine.cursor.CursorResult object at 0x00000212E09477E0>

C:\Users\User\AppData\Local\Temp\ipykernel_3400\2687747542.py:40: UserWarning: The provided table name 'TransformedData' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('TransformedData', con=engine, if_exists='append', index=False)

    id   name  height  weight  HeightsinMeters  WeightsinKgs
0    1   alex      66     113               20            51
1    2   ajay      72     136               22            62
2    3  alice      69     153               21            69
3    4   ravi      68     142               21            65
4    5    joe      68     144               21            65
5    6   jack      69     123               21            56
6    7    tom      70     141               21            64
7    8  tracy      70     136               21            62
8    9   john      68     112               21            51
9   10  simon      68     112               21            51
10  11  jacob      67     121               20            55
11  12  cindy      66     127               20            58
12  13   ivan      68     114               21            52