In [9]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table,text

host = 'rdsmysql.ctc0se6gw6h4.us-east-1.rds.amazonaws.com'
schema = 'RdsMysqlDb'
user = 'admin'
password = 'saroselvi'
port = '3306'

#engine = create_engine('mysql+mysqlconnector://[user]:[password]@[host]:[port]/[schema]', echo=False)
engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{schema}")
# Create table query
create_table_query = """
CREATE TABLE TransformedData(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    height INT NOT NULL,
    weight INT NOT NULL,
    HeightsinMeters INT NOT NULL,
    WeightsinKgs INT NOT NULL
    
);    
"""

#metadata = MetaData()

# Execute the query
with engine.connect() as connection:
    result=connection.execute(text(create_table_query))
    print(result)


# Example: Load data from a CSV file
df = pd.read_csv('C:\\Users\\User\\Source1_output\\csvfile.csv')

# Insert data into the table
df.to_sql('TransformedData', con=engine, if_exists='append', index=False)

# Query the table
query = "SELECT * FROM TransformedData"
result_df = pd.read_sql(query, con=engine)

# Display the result
print(result_df)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001454A030520>

C:\Users\User\AppData\Local\Temp\ipykernel_16692\3420819391.py:42: UserWarning: The provided table name 'TransformedData' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('TransformedData', con=engine, if_exists='append', index=False)

    id   name  height  weight  HeightsinMeters  WeightsinKgs
0    1   alex      66     113               20            51
1    2   ajay      72     136               22            62
2    3  alice      69     153               21            69
3    4   ravi      68     142               21            65
4    5    joe      68     144               21            65
5    6   alex      66     113               20            51
6    7   ajay      72     136               22            62
7    8  alice      69     153               21            69
8    9   ravi      68     142               21            65
9   10    joe      68     144               21            65
10  11   alex      66     113               20            51
11  12   ajay      72     136               22            62
12  13  alice      69     153               21            69
13  14   ravi      68     142               21            65
14  15    joe      68     144               21            65
15  16   jack      69     123               21            56
16  17    tom      70     141               21            64
17  18  tracy      70     136               21            62
18  19   john      68     112               21            51
19  20   jack      69     123               21            56
20  21    tom      70     141               21            64
21  22  tracy      70     136               21            62
22  23   john      68     112               21            51
23  24   jack      69     123               21            56
24  25    tom      70     141               21            64
25  26  tracy      70     136               21            62
26  27   john      68     112               21            51
27  28  simon      68     112               21            51
28  29  jacob      67     121               20            55
29  30  cindy      66     127               20            58
30  31   ivan      68     114               21            52
31  32  simon      68     112               21            51
32  33  jacob      67     121               20            55
33  34  cindy      66     127               20            58
34  35   ivan      68     114               21            52
35  36  simon      68     112               21            51
36  37  jacob      67     121               20            55
37  38  cindy      66     127               20            58
38  39   ivan      68     114               21            52